[Feat] request-target(URI) 에 포함되어 있는 query 파싱

### request-target 형식
- 우리의 웹서브에서는 origin-form만 지원하도록 구현

```bnf
request-target = origin-form
              / absolute-form
              / authority-form
              / asterisk-form
```

### origin-form
```bnf
origin-form    = absolute-path [ "?" query ]

absolute-path = 1*( "/" segment )
segment = <segment, see [RFC3986], Section 3.3>

segment       = *pchar
pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"


pct-encoded   = "%" HEXDIG HEXDIG

unreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~"
sub-delims    = "!" / "$" / "&" / "'" / "(" / ")"
             / "*" / "+" / "," / ";" / "="
```

### query
```bnf
query         = *( pchar / "/" / "?" )
```